{% extends "base.html" %}

{% block content %}

<section class="footer-page">

    <div class="footer-page-container">

        <span class="footer-page-label">
            ABOUT SHOPNEX
        </span>

        <h1>
            Modern shopping.<br>
            <span>Better experience.</span>
        </h1>

        <p>
            ShopNex is a modern e-commerce platform built
            to make online shopping simple, convenient and
            enjoyable.
        </p>

        <p>
            We bring together carefully selected products,
            a clean shopping experience and reliable
            customer service in one place.
        </p>


        <h2>
            Our Mission
        </h2>

        <p>
            Our mission is to create a shopping experience
            that feels modern, trustworthy and effortless.
        </p>


        <h2>
            Why ShopNex?
        </h2>

        <ul>

            <li>
                Carefully selected products
            </li>

            <li>
                Simple and modern shopping experience
            </li>

            <li>
                Secure and convenient checkout
            </li>

            <li>
                Order tracking
            </li>

            <li>
                Customer-focused support
            </li>

        </ul>

    </div>

</section>

{% endblock %}